input {
  focus-follows-mouse
  workspace-auto-back-and-forth
  keyboard {
    xkb {
      layout "us"
      variant "colemak_dh"
    }
    numlock
  }
  touchpad {
    dwt
    tap
    natural_scroll
  }
}

binds {
  Mod+D { spawn "fuzzel"; }
  Mod+Q { close-window; }
  Mod+T { spawn "ghostty"; }
}
